.conf {
  pointer-events: none;
  position: fixed;
  opacity: 0;
  z-index: 11;
  transition: all 0.5s;
  background: rgba($color: #000000, $alpha: 0.5);

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    overflow: auto;
    max-height: 100vh;
    max-width: 1024px;
    width: 90%;
    background: #fff;

    //color: #50d2c5;
    border-radius: 10px;
  }
  &-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #f5f5f5;
  }

  &-content::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f5f5f5;
  }

  &-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #13547a;
  }

  // &-content::-webkit-scrollbar {
  //   width: 0.5rem;
  // }

  // /* Track */
  // &-content::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  //   border-radius: 2px;
  // }

  // /* Handle */
  // &-content::-webkit-scrollbar-thumb {
  //   background: #13547a;
  //   border-radius: 2px;
  // }
  &-head {
    color: #fff;
    background: #50d2c5;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    padding-left: 1.5em;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-text {
    color: #13547a;
    padding: 1.5em;
    p {
      padding: 0.2em 0;
    }
  }
  &-close {
    padding: 0.1em;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.conf--active {
  opacity: 1;
  pointer-events: all;
}
