.feature {
  color: #13547a;
  padding: 4em 0;
  &-title {
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 0.06em;
  }

  &-item {
    margin: 2.5em 0;
    margin-left: 3.5em;
    // list-style-position: ;
    &-title {
      font-weight: bold;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      padding-left: 20px;
      margin-bottom: 1em;
      position: relative;
    }
    &-title:before {
      content: "";
      background-repeat: no-repeat;
      background: url(../img/li.svg);
      background-size: 3.5em 3em;
      height: 3em;
      width: 3.5em;
      -o-object-fit: contain;
      /* object-fit: contain; */
      position: absolute;
      left: -3.5em;
    }
    &-text {
      line-height: 1.5em;
      border-left: 1px solid #2df7e0;
      padding-left: 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .feature {
    padding: 2.5em 0;
  }
}
