.footer {
  background: #13547a;
  padding: 2.5em 0;
  color: #fff;
  &-menu {
    max-width: 320px;
    width: 90%;
    padding-left: 1em;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  &-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-left {
    width: 66%;
    &-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-logo {
    height: 100px;
  }
  &-copy {
    margin-top: 1em;
  }
  &-conf {
    margin-bottom: 2em;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
  }
}
@media screen and (max-width: 768px) {
  .footer * {
    text-align: center;
  }
  .footer-logo {
    height: 5em;
  }
  .footer-content {
    flex-direction: column;
    width: 100%;
  }
  .footer-right {
    width: 70%;
  }
  .footer-left {
    width: 80%;
  }
  .footer-left-top {
    width: 100%;
    flex-direction: column;
  }
  .footer-menu {
    flex-direction: column;
    font-size: 1.75rem;
    padding-left: 0;
  }
  .footer-copy {
    margin-bottom: 1.5em;
  }
}
