.header-mob {
  font-size: 20px;
  z-index: 2;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background: #fff;
  color: #2df7c6;
  //display: none;
  transition: all 0.5s;
  opacity: 0;
  &-wrap {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    position: relative;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.header-mob--active {
  opacity: 1;
  pointer-events: painted;
}
@media screen and (min-width: 769px) {
  .header-mob--active {
    pointer-events: none;
    opacity: 0;
  }
}
.burg {
  pointer-events: all !important;
  position: absolute;
  transition: all 0.5s;
  right: 0;
  top: 20px;
  z-index: 10;
  color: #2df7c6;
  display: none;
  background: #fff;
  width: 54px;
  height: 54px;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  justify-content: flex-end;
  &-text {
    padding-top: 4px;
    padding-bottom: 5px;
  }
}
.burg--active {
  content: url(../img/close-all.svg);
  opacity: 1;
  background: linear-gradient(97.67deg, #37ecba 26.47%, #72afd3 106.99%);
  position: fixed;
}
.mob-logo {
  width: 200px;
  justify-self: start;
  position: absolute;
  top: 20px;
  left: 5px;
}
@media screen and (max-width: 768px) {
  .burg {
    display: flex;
  }
}
