.order {
  position: relative;
  z-index: 1;
  padding: 4em 0;
  &-head {
    width: 100%;
    bottom: 99.9%;
    position: absolute;
  }
  // &-head-hide {
  //   width: 100%;
  //   bottom: 98.9%;
  //   position: absolute;
  //   opacity: 0.1;
  // }
  &-title {
    max-width: 950px;
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 0.2em;
    text-transform: uppercase;
  }
  &-text span {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
  }
  &-text {
    margin-bottom: 1.5em;
  }
  &-btn {
    background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    cursor: pointer;

    padding: 0.5em 1.5em;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    width: max-content;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
}
.order-white {
  color: #13547a;
  &-img {
    position: absolute;
    max-width: 900px;
    bottom: -12%;
    width: 40%;
    bottom: -10%;
    right: 0;
  }
}

.order-green {
  position: relative;
  color: #fff;
  background: url(../img/order-green-img.png),
    linear-gradient(117.73deg, #2df7c6 4.33%, #13547a 92.47%);
  background-size: 40%, auto;
  background-position: right bottom, center;
  background-repeat: no-repeat;

  padding-bottom: 10em !important;
  &-wrap {
    background: #fff;
    width: max-content;
    // padding: 0.5em 0;
    border-radius: 10px;
  }
  &-btn {
    background: linier-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .order {
    padding: 2.5em 0;
  }
  .order-text {
    text-align: center;
    width: 70%;
  }
  .order-title {
    text-align: center;
    font-size: 4rem;
  }
  .order-btn {
    font-size: 20px;
    padding: 0.75em 1.5em;
  }
  .order-green-wrap {
    font-size: 20px;
    // padding: 0.75em 0;
  }
  .order-content {
    align-items: center;
  }
  .order-green {
    background-size: 50%, auto;
    // background: linear-gradient(98.62deg, #2DF7C6 4.33%, #13547A 92.47%);
    background-image: url(../img/order-green-img.png),
      linear-gradient(98.62deg, #2df7c6 4.33%, #13547a 92.47%);
  }
}
