.service {
  margin-top: 4em;
  color: #13547a;
  &-title {
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      margin-bottom: 1em;
      padding-left: 1em;
      position: relative;
    }
    &-title span {
      font-size: 1.25rem;
      font-weight: bold;
    }
    &-title:before {
      content: "";
      background-repeat: no-repeat;
      background: url(../img/li.svg);
      background-size: 3.51em 3em;
      height: 3em;
      width: 3.5em;
      -o-object-fit: contain;
      /* object-fit: contain; */
      position: absolute;
      left: -3.5em;
      top: -0.5em;
    }
    &-text {
      border-left: 1px solid #2df7e0;
      padding-left: 1em;
      max-width: 475px;
    }
  }

  &-item:nth-of-type(1) .service-img {
    order: 1;
  }
  &-img {
    max-width: 400px;
    width: 38%;
    object-fit: contain;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 51%;
    padding: 2em 0;
    margin-left: 50px;
  }
  &-btn {
    background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    padding: 0.5em 1.5em;
    width: max-content;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    margin-top: 1em;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}

.service-theme {
  // background: url(../img/service-theme.png);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: 1070px;
  // margin-top: 2.6em;
  &-title {
    //margin: 2.5em 0;
    background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    padding: 1em 1.5em;
    border-radius: 10px;
    color: #fff;
  }
  &-img {
    position: absolute;
  }
}
@media screen and (max-width: 1024px) {
  .service-theme {
    background-size: 80%;
  }
}
@media screen and (max-width: 580px) {
  .service {
    margin: 2.5em 0;
  }
  .service-img {
    order: 0 !important;
    max-width: 200px;
    width: 100%;
  }
  .service-content {
    width: 93%;
    max-width: 350px;
    margin-left: 7%;
  }
  .service-item {
    flex-direction: column;
  }
  .service-btn {
    font-size: 20px;
  }
}
