.service {
  margin: 4em 0;
  color: #13547a;
  &-title {
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    &-title {
      margin-bottom: 1em;
      padding-left: 1em;
      position: relative;
    }
    &-title span {
      font-size: 1.25rem;
      font-weight: bold;
    }
    &-title:before {
      content: "";
      background-repeat: no-repeat;
      background: url(../img/li.svg);
      background-size: 3.51em 3em;
      height: 3em;
      width: 3.5em;
      object-fit: contain;
      position: absolute;
      left: -3.5em;
      top: -0.5em;
    }
    &-text {
      border-left: 1px solid #2df7e0;
      padding-left: 1em;
      max-width: 475px;

      line-height: 1.5em;
    }
  }

  &-item:nth-of-type(1) .service-img {
    order: 1;
  }
  &-img {
    max-width: 400px;
    width: 38%;
    object-fit: contain;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 51%;
    margin-left: 50px;
  }
  &-btn {
    background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    padding: 0.5em 1.5em;
    width: max-content;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    margin-top: 1em;
    margin-left: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
}

.service-theme {
  // background: url(../img/service-theme.png);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: 1070px;
  // margin-top: 2.6em;
  &-title {
    //margin: 2.5em 0;
    //background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
    padding: 1em 1.5em;
    border-radius: 10px;
    color: #fff;
    margin: 2.5em 0;
    position: relative;
  }
  &-title::before {
    content: "";
    background: url(../img/service-theme.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: -145px;
    left: -285px;
    z-index: -10;
    height: 465%;
    max-width: 1150px;
    width: 160%;
    background-size: contain;
  }
  &-img {
    position: absolute;
  }
}
@media screen and (max-width: 1150px) {
  .service-theme-title::before {
    display: none;
  }
  .service-theme-title {
    background: linear-gradient(140.46deg, #37ecba 26.47%, #72afd3 106.99%);
  }
}
@media screen and (max-width: 1024px) {
  .service-theme {
    background-size: 80%;
  }
}
@media screen and (max-width: 580px) {
  .service {
    margin: 2.5em 0;
  }
  .service-img {
    order: 0 !important;
    max-width: 200px;
    width: 100%;
  }
  .service-content {
    width: 93%;
    max-width: 350px;
    margin-left: 7%;
    padding: 1em 0;
  }
  .service-item {
    flex-direction: column;
  }
  .service-btn {
    font-size: 20px;
    padding: 0.7em 1.5em;
  }
  .service-title {
    font-size: 2.1rem;
  }
  .service-theme-title {
    padding: 1em 0.5em;
  }
  .service-theme-title::before {
    display: block;
    width: 121%;
    top: -17%;
    left: -44px;
  }
  .service-theme-title {
    background: none;
    margin: 1em 0;
  }
}
@media screen and (max-width: 325px) {
  .service-theme-title::before {
    top: -8%;
    left: -50px;
    width: 127%;
  }
}
