* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Arial, sans-serif;
}

button {
  border: none;
  color: inherit;
  background: none;
}
:focus {
  outline: none;
}
li,
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 70%;
  max-width: 1440px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  border: 0px;
  border-style: none;
  outline: none;
  vertical-align: -webkit-baseline-middle;
}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 85%;
  }
}
.hidden {
  opacity: 0 !important;
  display: none !important;
  transition: opacity 0.5s ease-in-out forwards;
}

@import "header";
@import "feature";

@import "target";
@import "footer";
@import "service";
@import "order";
@import "case";
@import "work";
@import "header-mob";
.form {
  pointer-events: none;
  position: fixed;
  opacity: 0;
  transition: all 0.5s;

  color: #fff;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 15;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    position: absolute;
    z-index: 2;
  }
  &-close {
    position: absolute;
    right: 0;
    top: -20px;
  }
  &-content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 400px;
    max-height: 430px;
    width: 80%;
    height: 100vh;
    display: flex;
  }
  &-text {
    font-size: 1rem;
    line-height: 1.5em;
    width: 80%;
  }
  &-img {
    position: absolute;
    z-index: -1;
    left: -80px;
  }
  &-title {
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-sub-input {
    font-weight: bold;
    font-size: 1.25rem;
  }
  ::placeholder {
    color: #fff;
  }
  &-input {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
  }
  &-submit {
    background: #fff;
    color: #2df7c6;
    font-size: 1.25rem;
    padding: 0.5em;
    width: 100%;
    border-radius: 10px;
  }
}

.form--active {
  pointer-events: painted;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .form-img {
    display: none;
  }
  .form-content {
    height: 100vh;
    align-items: center;
  }
  .form-content * {
    text-align: center;
  }
  .form {
    background: linear-gradient(97.67deg, #37ecba 26.47%, #72afd3 106.99%);
    height: 100vh;
  }
  .form-submit {
    padding: 0.7em 0.5em;
    width: 80%;
    font-size: 20px;
  }
  .form-input {
    font-size: 20px;
    padding: 0.7em 0.5em;
    width: 80%;
  }
}
