.work {
  position: relative;
  padding: 2.5em 0;
  background-image: url(../img/work1.webp), url(../img/work1-bg.svg),
    linear-gradient(116.24deg, #2df7c6 4.33%, #13547a 92.47%);
  background-position: 20% 80%, left 80%, center;
  background-repeat: no-repeat;
  background-size: 18%, 30%, auto;
  color: #fff;
  &-head {
    width: 100%;
    bottom: 99.9%;
    position: absolute;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  &-title {
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
  }
  &-bar {
    // background: url(../img/line.svg) center repeat-x;
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4.5em;
    max-width: 980px;
  }
  &-text {
    line-height: 2em;
    max-width: 620px;
    opacity: 1;
    padding-left: 1em;
    border-left: 1px solid #2df7e0;
    margin-bottom: 1.5em;
    transition: opacity 0.5s ease-in-out;
    height: 11em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-weight: 800;
      width: 100%;
    }
  }
  &-next {
    border-radius: 10px;
    border: 2px solid #2df7e0;
    padding: 0 1.5em;
    height: 50px;
    margin: 0 1em;
    cursor: pointer;
  }
  &-btns {
    display: flex;
  }
  &-prev {
    border-radius: 10px;
    border: 2px solid #2df7e0;
    align-items: center;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &-rocket {
    object-fit: contain;
    width: 100%;
  }
}
.bar {
  &-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &-point::after {
    content: "";
    background-color: #fff;
    background-size: 6vw;
    position: absolute;
    top: 46%;
    left: 100%;
    width: 4vw;
    height: 2px;
    max-width: 100px;
  }
  &-point::before {
    content: "";
    background-color: #fff;
    background-size: 6vw;
    position: absolute;
    top: 46%;
    left: -4vw;
    width: 4vw;
    max-width: 100px;
    height: 2px;
  }
  &-point:nth-of-type(1)::before {
    display: none;
  }
  &-point-btn {
    font-weight: bold;
    font-size: 25px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    transition: all 0.5s;
    cursor: pointer;
  }
  &-point-btn--active {
    font-weight: bold;
    font-size: 25px;
    background: #13547a;
    border-radius: 100%;
    border: none;
    border: 2px solid #13547a;
  }
  &-point-btn--active::after {
    content: url(../img/point-ellipse.svg);
    position: absolute;
    top: -10px;
    left: -10px;
  }
  &-point-text {
    position: absolute;
    max-width: 150px;
    text-align: center;
    top: 3.5em;
  }
  &-finish {
    display: flex;
    align-items: center;
    width: 20%;
  }
  &-finish-text {
    font-weight: 700;
    font-size: 1.25rem;
  }
}
// @media screen and (min-width: 1440px) {
//   .bar-point::before {
//     left: -100px;
//   }
// }
@media screen and (max-width: 1280px) {
  .work-text {
    height: 15em;
  }
}
@media screen and (max-width: 900px) {
  .work-text {
    height: 18em;
  }
}

@media screen and (max-width: 768px) {
  .work {
    background-position: 40% 20%, left 20%, center;
    background-size: 27%, 50%, 100%;
    background-image: url(../img/work1.webp), url(../img/work1-bg.svg),
      linear-gradient(98.02deg, #2df7c6 4.33%, #13547a 92.47%);
  }
  .work-wrap {
    flex-direction: row;
  }
  .work-bar {
    flex-direction: column;
    order: 2;
    align-self: stretch;
    width: auto;
    width: 15%;
  }
  .work-content {
    align-items: flex-start;
    width: 85%;
  }
  .work-text {
    width: 90%;
    margin-top: 220px;
  }

  .work-rocket {
    width: 70px;
  }
  .bar-finish {
    flex-direction: column;
  }
  .bar-point-text {
    display: none;
  }
  .bar-point::before,
  .bar-point::after {
    transform: rotate(90);
    width: 2px;
    height: 27px;
    left: 50%;
  }
  .bar-point::before {
    top: -27px;
  }
  .bar-point::after {
    bottom: -27px;
    top: auto;
  }
}

@media screen and (max-width: 425px) {
  .work {
    background-size: 40%, 70%, 100%;
  }
}
@media screen and (max-width: 600px) {
  .work-text {
    height: 20em;
  }
}
@media screen and (max-width: 360px) {
  .work-text {
    margin-top: 200px;
    height: 25em;
  }
}
